<div class="container-fluid">
    <div class="search__container">
        <p class="search__title">
            Pokédex
        </p>

        <div class="info-pokemon width-50">
            <form *ngIf="checked">
                <input type="text" name="search" id="search" placeholder="Search Pokemon.."
                    [(ngModel)]="pokemonNameSearch">
            </form>

            <label class="switchBtn">
                <input type="checkbox" [(ngModel)]="checked" (change)="verifyInputs(checked)">
                <div class="slide round">Filter</div>
            </label>
        </div>

    </div>

    <div class="row poke-container">
        <div *ngFor="let pokemon of this.pokemon | filter: pokemonNameSearch" class="box" data-toggle="modal"
            data-target=".pokemon" (click)="showPokemonModal(pokemon)">
            <div>
                <img src="assets/img/{{pokemon.entry_number}}.png" alt="">
                <h1>{{pokemon.pokemon_species.name}}</h1>
            </div>
        </div>
    </div>
</div>

<!-- MODALES -->
<div class="modal pokemon" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body info-pokemon">
                <div class="img-modal">
                    <img src="assets/img/{{pokemonShow.entry_number}}.png" alt="">
                </div>
                <div class="info-modal">
                    <h2>{{pokemonShow.name}}</h2>
                    <p>{{pokemonInfo}}</p>

                    <h3>Habilidades</h3>
                    <ul>
                        <li *ngFor="let habilidad of pokemonAbilities">
                            {{habilidad.ability.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>